* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.nav-title {
  color: #181818;
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
  align-content: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.btn_primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  padding: 15px;
  border: none;
  color: #ffffff;
}
.btn-contact {
  border-radius: 5px;
  padding: 15px;
  border: none;
  width: 125px;
  height: 50px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
}
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
}
.banner-title {
  color: #181818;
  font-weight: 700;
  font-size: 85px;
}
.banner_description {
  color: #757575;
  margin: 20px 0;
}
/* header style end */
main {
  width: 1140px;
  margin: 0 auto;
}
.about {
  margin-top: 100px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section_title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-description {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}
.info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* what i do styles */
.what-i-do > .section_title {
  margin-top: 100px;
}

.skills-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill {
  width: 265px;
  height: 375px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 35px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin: 30px 0;
}
.skill-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}
/* resume styles start */
.Resume_title {
  margin: 130px 0;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.resume_container {
  display: flex;
  gap: 70px;
}
.exprience {
  padding: 5px;
}
.exprience_title {
  color: #474747;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.study_title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.study_locatoin {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.exprience_description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}
hr {
  margin-top: 30px;
}
.resume_btn {
  margin-top: 50px;
  text-align: center;
}
/* footer style */
.contact {
  display: flex;
  gap: 115px;
  padding: 130px 225px;
  width: 1600px;
  height: 780px;
  margin-top: 105px;
  background: #fff8f3;
}
.contact .section_title {
  text-align: left;
}
.contact div {
  width: 100%;
}
.contact-description {
  color: #474747;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.contact a {
  text-decoration: none;
  color: #fd6e0a;
  margin-right: 25px;
  font-size: 30px;
}
.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  padding: 30px 18px;
  border-radius: 5px;
  border: 0;
  width: 460px;
  font-weight: 400;
  font-size: 16px;
}
